{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="section" id="introduction">
        <div class="container">
            <div class="section-title">
                <h3>Writer Introduction</h3>
            </div>
            <div class="testimonials owl-carousel">
                <div class="testimonials-single">
                    <img src="{% static 'images/me.jpg' %}" alt="client" class="client-img">
                    <blockquote class="blockquote">
                        Hi, everyone. Here is the Homework 1 Website.
                        <br>
                        In this site, you can find out some information about us, and you can also see how many visiters have visited here, and so far how many times they have visited.
                        <br>
                        And if you have something want to tell us, please leave the message right down on the board, Thank you!
                    </blockquote>
                    <h5 class="mt-4 mb-2">Chester Her</h5>
                    <p class="text-primary">Taipei, Taiwan</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section light-bg" id="board">
        <div class="container">
            <div class="section-title">
                <h3>Message Board</h3>
            </div>

            <div class="row">
                <div class="col-12 col-lg-8">
                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#all">All</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#yours">Yours</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active message_board" id="all">
                            <div>
                                <!-- {% for message in message_get %}
                                    <div class="post">
                                        <div class="col-12 col-lg-1 head_photo_area">
                                            <img src="{% static message.get_photo_display %}" class="head_photo">
                                        </div>
                                        <div class="col-12 col-lg-10">
                                            <h4><a href="">{{ message.name }}</a></h4>
                                            <div class="date">
                                                {{ message.published_time }}
                                            </div>
                                            <p>{{ message.text|linebreaksbr }}</p>
                                        </div>
                                        <div class="col-12 col-lg-1">
                                            {% for msg_pk in message_del %}
                                                {% if msg_pk == message.pk %}
                                                    <a class="btn btn-default" href="{% url 'message_delete' pk=message.pk %}"><img src="{% static 'images/delete.png' %} " class="delete_icon"></a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %} -->
                            </div>
                        </div>
                        <div class="tab-pane fade message_board" id="yours">
                            <div>
                                <!-- {% for message in message_get %}
                                    {% for msg_pk in message_del %}
                                        {% if msg_pk == message.pk %}
                                            <div class="post">
                                                <div class="col-12 col-lg-1 head_photo_area">
                                                    <img src="{% static message.get_photo_display %}" class="head_photo">
                                                </div>
                                                <div class="col-12 col-lg-10">
                                                    <h4><a href="">{{ message.name }}</a></h4>
                                                    <div class="date">
                                                        {{ message.published_time }}
                                                    </div>
                                                    <p>{{ message.text|linebreaksbr }}</p>
                                                </div>
                                                <div class="col-12 col-lg-1">
                                                    <a class="btn btn-default" href="{% url 'message_delete' pk=message.pk %}"><img src="{% static 'images/delete.png' %}" class="delete_icon"></a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %} -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 new_message">
                    <h5>Leave a Message</h5>
                    <!-- <form method="POST" class="post-form">{% csrf_token %}
                        <p>{{ form.name.label }}</p>
                        <p>{{ form.name }}</p>
                        <p>{{ form.photo.label }}</p>
                        <div class="row">
                            {% for photo_index, photo_src in form.fields.photo.choices %}
                                {% if forloop.counter0|divisibleby:3 %}
                                    </div><div class="row"><div class="col-12 col-lg-1"><input type="checkbox" name="{{ form.photo.name }}" value="{{ photo_index }}"></div><div class="col-12 col-lg-3"><img src="{% static photo_src %}" class="head_photo"></div>
                                {% else %}
                                    <div class="col-12 col-lg-1"><input type="checkbox" name="{{ form.photo.name }}" value="{{ photo_index }}"></div><div class="col-12 col-lg-3"><img src="{% static photo_src %}" class="head_photo"></div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <p>{{ form.text.label }}</p>
                        <p>{{ form.text }}</p>
                        <button type="submit" class="save btn btn-default">Save</button>
                    </form> -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}